@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Program Evaluation</h2>
</div>


<h4>General Education Foundation</h4>

<a href="@Url.Action("Category", "EvalController", "English")" target="_blank">A. English</a>
<br>
<br>

<a href="@Url.Action("Math", "EvalController")" target="_blank">B. Mathematics</a>
<br>
<br>

<a href="@Url.Action("FYS", "EvalController")" target="_blank">C. First Year Seminar</a>
<br>
<br>

<a href="@Url.Action("ProfComm", "EvalController")" target="_blank">D. Professional Communication</a>
<br>
<br>
