
@{
    Layout = null;
}

<h2>Reset Password</h2>


<label for="email"><b></b></label>
<input type="text" placeholder="Enter Email" name="uname" required>
<br>
<br>
<button type="submit">Submit</button>
